<!DOCTYPE html>
<html>
    <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/collector.js"></script>
  </head>
  <body>
      <h1>Collector</h1>
  </body>
</html>
