<!DOCTYPE html>
<html>
    <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/collector.js"></script>
  </head>
  <body>
      <h1>Landing</h1>

      <form id="sessionForm">
          <input type="text" id="session">
          <button onclick="joinSession($('#session').val()) ;return false;">
              Join Session
          </button>
      </form>
      <button onclick="createSession(); return false;">Create Session</button>
  </body>
</html>
