<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <header>
        <h1>Colors</h1>
      </header>
        <form id="sessionForm">
            <input type="text" id="sessionInput">
            <button id="joinSession">
                Join Session
            </button>
        </form>
        <div id="sessionID"></div>
        <button id="createSession">Create Session</button>
        <div class="students-container"></div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="http://code.jquery.com/color/jquery.color-2.1.0.js"></script>
        <script src="/javascripts/index.js"></script>
        <script src="/javascripts/collector.js"></script>
    </body>
</html>
