<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body class="student-scroller">
        <div id="sessionID"></div>
        <div class="fixed-center top">
          <i class="fa fa-long-arrow-up"></i>
          <p>Scroll up - "I understand"</p>
        </div>
        <div class="fixed-center bottom">
          <p>Scroll down - "I'm lost"</p>
          <i class="fa fa-long-arrow-down"></i>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/color/jquery.color-2.1.0.js"></script>
        <script src="/javascripts/scroll.js"></script>
        <script src="/javascripts/user.js"></script>
    </body>
</html>
