$green: green;
$roboto: 'Roboto', sans-serif;
$lucidia: "Lucida Grande", Helvetica, Arial, sans-serif;

body {
  padding: 50px;
  font: 14px $lucidia;
  background-color: white;
}

h1 {
  font-family: $roboto;
  font-size: 8em;
  margin-bottom: 0;
}

::-webkit-scrollbar {
  display: none;
}

.students-container {
  display: flex;
}

.student {
  height: 250px;
  width: 250px;
  margin: 10px;
  border-radius: 3px;
  border: 3px solid black;
}

.student-scroller {
  min-height: 2000px;
}

a {
  color: #00B7FF;
}

#sessionID {
  top: 0;
  position: fixed;
  top: 3em;
  right: 3em;
  font-size: 25px;
  font-family: Helvetica, sans-serif;
}
