$green: green;
$roboto: 'Roboto', sans-serif;
$lucidia: "Lucida Grande", Helvetica, Arial, sans-serif;

body {
  padding: 50px;
  font: 14px $lucidia;
  background-color: $green;
}

h1 {
  font-family: $roboto;
  font-size: 8em;
}

::-webkit-scrollbar {
  display: none;
}

#producer {
  min-height: 2000px;
}

a {
  color: #00B7FF;
}

#sessionID {
  top: 0;
  position: fixed;
  top: 3em;
  right: 3em;
  font-size: 25px;
  font-family: Helvetica, sans-serif;
}
