// VARIABLES
$white: #fff;
$baby-blue: #89d2da;
$light-gray: #e2e2e2;
$dark-gray: #7c7c7c;
$red: #d64933;
$roboto: 'Roboto', sans-serif;
$lucidia: 'Lucida Grande', Helvetica, Arial, sans-serif;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
  font: 14px $lucidia;
  background-color: $white;
}

.title {
  padding: 100px 0 10px;
  font-weight: 100;
}

.subtitle {
  font-size: 30px;
  font-weight: 100;
  padding: 10px 0 40px;
}

.push-top {
  margin-top: 10px;
  &--double { margin-top: 20px; }
  &--triple { margin-top: 30px; }
  &--quad   { margin-top: 40px; }
}

.push-bottom {
  margin-bottom: 10px;
  &--double { margin-bottom: 20px; }
  &--triple { margin-bottom: 30px; }
  &--quad   { margin-bottom: 40px; }
}

.soft-bottom {
  padding-bottom: 10px;
  &--double { padding-bottom: 20px; }
  &--triple { padding-bottom: 30px; }
  &--quad   { padding-bottom: 40px; }
}

.text {
  &--center { text-align: center; }
  &--white { color: $white; }
  &--red { color: $red; }
}

.hero {
  background-color: $baby-blue;
}

.section-padding {
  padding: 130px 0;
}

.input {
  width: 260px;
  height: 38px;
  padding: 2px 11px;
  font-size: 19px;
  color: #7C7C7C;
}

.button {
  background-color: $red;
  border: none;
  font-size: 19px;
  padding: 11px 30px;
}

.container {
  max-width: 940px;
  padding: 0 1.064%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.explanation-box {
  width: 50%;
  padding: 60px;
  border: 1px solid $light-gray;
  margin: 0 10px;
}

.number {
  color: $baby-blue;
}

.audience-title {
  text-transform: uppercase;
  font-size: 19px;
  letter-spacing: 2px;
  font-weight: 100;
}

hr {
  width: 20%;
  border-color: $red;
}

ol {
  list-style-position: inside;
  counter-reset: item;
}
ol li {
  display: block;
  margin: 20px 0;
  font-size: 17px;
  color: #7C7C7C;
  line-height: 25px;
}
ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: $baby-blue;
  font-size: 20px;
}

h1 {
  font-family: $roboto;
  font-size: 6em;
  margin-bottom: 0;
}

::-webkit-scrollbar {
  display: none;
}

.students-container {
  display: flex;
}

.student {
  height: 250px;
  width: 250px;
  margin: 10px;
  border-radius: 3px;
  border: 3px solid black;
}

.student-scroller {
  min-height: 2000px;
}

a {
  color: #00B7FF;
}

#sessionID {
  top: 0;
  position: fixed;
  top: 3em;
  right: 3em;
  font-size: 25px;
  font-family: Helvetica, sans-serif;
}
